@{
  Layout = "_Layout";
}

@model Restaurant.Models.Eatery

<h2>Eatery Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.EateryName): @Html.DisplayFor(model => model.EateryName)<h3>

<p>@Html.ActionLink("Back To Eatery List", "Index")</p>
<p>@Html.ActionLink("Edit Eatery", "Edit", new { id = Model.EateryId })</p>
<p>@Html.ActionLink("Delete Eatery", "Delete", new { id = Model.EateryId })</p>