@{
  Layout = "_Layout";
}

@model Restaurant.Models.Eatery

<h2>Edit</h2>

<h4>Edit This Eatery: @Html.DisplayFor(model => model.EateryName)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.EateryId)

  @Html.LabelFor(model => model.EateryName)
  @Html.EditorFor(model => model.EateryName)

  @Html.LabelFor(model => model.Cuisine)
  @Html.DropDownList("CuisineId")

  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back To Eatery List", "Index")</p>