@{
  Layout = "_Layout";
}

@model Restaurant.Models.Cuisine
@using Restaurant.Models

<h2>Cuisine Details</h2>
<hr />
<p>@Html.DisplayNameFor(model => model.CuisineType): @Html.DisplayFor(model => model.CuisineType)<p>

<ul>
  @foreach(Eatery eatery in Model.Eateries)
  {
    <li>@Html.ActionLink($"{eatery.EateryName}", "Details", "Eateries", new { id = eatery.EateryId })</li>
  }
<hr />
<p>@Html.ActionLink("Add resttaurant", "Create", "Eateries", new { id = Model.CuisineId })</p>
<p>@Html.ActionLink("Edit Cuisine", "Edit", new { id = Model.CuisineId })</p>
<p>@Html.ActionLink("Delete Cuisine", "Delete", new { id = Model.CuisineId })</p>
<p>@Html.ActionLink("Back to list", "Index")</p>