@{
  Layout = "_Layout";
}

@model Restaurant.Models.Cuisine

<h2>Edit</h2>

<p>Edit this cuisine: @Html.DisplayFor(model => model.CuisineType)</p>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.CuisineId)

    @Html.LabelFor(model => model.CuisineType)
    @Html.EditorFor(model => model.CuisineType)

    <input type="submit" value="Save" />
}
<hr />
<p>@Html.ActionLink("Back To Cuisine Type List", "Index")</p>